extends layout 

block content 

   

        h1= title
        h4 Deleting the following piece from the database:
        ul 
        li #[strong #{piece.name}] 
        li #[strong Stock: #{piece.stock}]