extends layout 

    block content 
        h1= title 

        form(method='POST' action='')
            div
                label(for='name') Name: 
                input(type='text', placeholder="Piece of armor's name" name='name' required='true' value=(undefined===armorPiece ? '' : armorPiece.name))